sampleAnimatedTransitioning.xcodeproj/xcuserdata/satoutakeshi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
sampleAnimatedTransitioning.xcodeproj/xcuserdata/satoutakeshi.xcuserdatad/xcschemes/sampleAnimatedTransitioning.xcscheme